@import 'app/styling/main.scss';

.button-container {
  width: 100%;
  background-color: transparent;

  .button {
    background-color: $primary-color;
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: $white;
    outline: none;
    cursor: pointer;
  }
}
