@import 'variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

body {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

p {
  margin-bottom: 0;
}

input,
textarea,
button {
  font-family: 'Nunito', sans-serif;
}
