@import 'app/styling/main.scss';

.payment-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    width: 30%;
  }

  .button-section {
    margin-top: 3rem;
  }

  .processing-text {
    color: $primary-color;
    margin-bottom: 4rem;
  }

  @media only screen and (max-width: 600px) {
    .form {
      width: 90%;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .form {
      width: 90%;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .form {
      width: 40%;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .form {
      width: 40%;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .form {
      width: 30%;
    }
  }
}
